{% extends '_base.twig' %}


{% block title %}404 – page not found{% endblock %}

{% block link_our_story %}404 – page not found{% endblock %}
{% block body %}
        <main class="container mt-5 text-center">
            <h1 class="lead">The page you requested does not exist, but these do:</h1>
            <ul class="nav flex-column">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/menu" class="nav-link">Menu</a></li>
                <li class="nav-item"><a href="/coffee" class="nav-link">Coffee</a></li>
                <li class="nav-item">
                    <a href="/our-story" class="nav-link">Our Story</a>
                </li>
            </ul>
            <a href="/">
                <img
                class="navbar-brand ghc-navbar-brand"
                src="/svg/logo.svg"
                alt="generic hipster coffee black and white logo"
                />
            </a>
{% endblock %}
