{% extends '_base.twig' %}

{% block page_description %}Bad coffee no more: a handy calculator to help you brew a tasty cup of coffee{% endblock %}

{% block title %}A calculator to help you brew a tasty cup of coffee{% endblock %}

{% block link_calculator %}active{% endblock %}

{% block content %}
    <div class="mb-5">
        <form>
            <section class="mb-4">
                <p class="h4">Strength</p>
                    <label for="ratio">How strong would you like your coffee? </label>
                    <div class="d-block">
                        <span class="pr-1">strong</span>
                        <input style="width: 60%" id="ratio" name="strength" type="range" min="10" max="20" step="1" value="16">
                        <span class="pl-1">weak</span>
                    </div>
                <div>Your selected ratio is <index> <span class="font-weight-bold">1: </span><span id="chosenRatio" class="font-weight-bold"></span>
                    (the standard ratio is 1 unit of coffee to 16 units of water).
                 </div>
            </section>
            <section class="mb-4">
                <p class="h4">Amount of water</p>
                <label for="water" class="mr-1">How much water are you using (in grams)?</label>
                <input type="number" step="10" name="water" id="water" class="border" style="width: 60px;" value="250">
                <p>This will yield approximately <span id="displayYield" class="font-weight-bold"></span> <span class="font-weight-bold">grams</span> of brewed coffee.</p>
            </section>
        </form>
        <p class="h4">Quantity of ground coffee</p>
        <p class="mt-2">You will need <span id="displayWeight" class="font-weight-bold"></span> <span class="font-weight-bold">grams</span>
            of ground coffee to brew coffee of the strength and in the quantity you specified.
        </p>
    </div>
{% endblock %}

{% block script %}
    <script>
        var inputField = document.getElementById("water");
        var slider = document.getElementById("ratio");
        var chosenRatio = document.getElementById("chosenRatio");
        var displayWeight = document.getElementById("displayWeight");
        var displayYield = document.getElementById("displayYield");

        function calculateWeight(water,ratio) {
            return Math.round(water /ratio);
           }

        function calculateWater(water) {
            return Math.round(water*0.9)
        }

        function displayAll() {
            chosenRatio.innerHTML = slider.value;
            displayWeight.innerHTML = calculateWeight(inputField.value, slider.value);
            displayYield.innerHTML = calculateWater(inputField.value);
        }

        displayAll();

        document.querySelector('form').addEventListener("input",displayAll);
    </script>
{% endblock %}
