{% extends '_base.twig' %}


{% block title %}Generic Hipster Coffee{% endblock %}

{% block content %}
    <h1>Generic Hipster Coffee</h1>
    <p class="h2">Specialty coffee, fresh food &#38; local community.</p>
    <img src="/img/counter.jpg" alt="coffee shop counter" class="img-fluid" />
    <div class="row">
        <div class="col-sm">
            <h2>Opening hours</h2>
            <p>Sunday to Thursday: 8am – 11pm</p>
            <p>Friday to Saturday: 8am – 1am</p>
        </div>
        <div class="col-sm">
            <h2>Book a table</h2>
            <p><a href="tel:+14153214567">Call +1 415-321-4567</a></p>
        </div>
        <div class="col-sm">
            <h2>Address</h2>
            <p>321 Ivy St.<br />San Francisco, CA 94102</p>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <div class="embed-responsive-item" id="map"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
            function initMap() {
                var ivySt = { lat: 37.777298, lng: -122.423454 };
                var map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 16,
                    center: ivySt,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    rotateControl: false,
                    fullscreenControl: true });
                var marker = new google.maps.Marker({ position: ivySt, map: map });
            }
    </script>
    <script
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd1MDV7YL_ruIZgSTk_buouK8KiPXVuVA&callback=initMap">
    </script>
{% endblock %}
