<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="index.css" />
        <title>ghc</title>
    </head>
    <body>
        <nav>
            <img src="" alt="" />
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/coffee">Coffee</a></li>
                <li><a href="/our-story">Our Story</a></li>
            </ul>
        </nav>
        <main>
            <h1>Generic Hipster Coffee</h1>
            <h2>Specialty coffee, fresh food &#38; local community.</h2>
            <h3>Opening hours</h3>
            <p>Sunday to Thursday: 8am — 11pm</p>
            <p>Friday to Saturday: 8am — 1am</p>
            <h3>Book a table</h3>
            <p>Call +1 415-321-4567</p>
            <h3>Address</h3>
            <p>321 Ivy St.San Francisco, CA 94102</p>
        </main>
        <footer>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/coffee">Coffee</a></li>
                <li><a href="/our-story">Our Story</a></li>
            </ul>
            <span>#Hipstersmakecoffee</span>
            <p>Follow us on <a href="#">Twitter</a> and <a href="#">Instagram</a></p>
        </footer>
    </body>
</html>
