{% extends '_base.twig' %}

{% block page_description %}Local cafe with great atmosphere and top-notch coffee, 321 San Francisco, CA 94102, open Sunday to Thursday from 8am to 11pm, Friday to Saturday 8am to 1am.{% endblock %}

{% block title %}Generic Hipster Coffee{% endblock %}

{% block link_home %}active{% endblock %}

{% block content %}
    <h1>Generic Hipster Coffee</h1>
    <p class="h2">Specialty coffee, fresh food &#38; local community.</p>
    <img src="/img/counter/counter_a9yanf_c_scale,w_1084.jpg"
            srcset="
            /img/counter/counter_a9yanf_c_scale,w_270.jpg 270w,
            /img/counter/counter_a9yanf_c_scale,w_384.jpg 384w,
            /img/counter/counter_a9yanf_c_scale,w_478.jpg 478w,
            /img/counter/counter_a9yanf_c_scale,w_560.jpg 560w,
            /img/counter/counter_a9yanf_c_scale,w_632.jpg 632w,
            /img/counter/counter_a9yanf_c_scale,w_714.jpg 714w,
            /img/counter/counter_a9yanf_c_scale,w_780.jpg 780w,
            /img/counter/counter_a9yanf_c_scale,w_845.jpg 845w,
            /img/counter/counter_a9yanf_c_scale,w_911.jpg 911w,
            /img/counter/counter_a9yanf_c_scale,w_967.jpg 967w,
            /img/counter/counter_a9yanf_c_scale,w_1022.jpg 1022w,
            /img/counter/counter_a9yanf_c_scale,w_1084.jpg 1084w,
            /img/counter/counter_a9yanf_c_scale,w_1135.jpg 1135w,
            /img/counter/counter_a9yanf_c_scale,w_1190.jpg 1190w,
            /img/counter/counter_a9yanf_c_scale,w_1248.jpg 1248w,
            /img/counter/counter_a9yanf_c_scale,w_1295.jpg 1295w,
            /img/counter/counter_a9yanf_c_scale,w_1350.jpg 1350w,
            /img/counter/counter_a9yanf_c_scale,w_1399.jpg 1399w,
            /img/counter/counter_a9yanf_c_scale,w_1440.jpg 1440w,
            /img/counter/counter_a9yanf_c_scale,w_1496.jpg 1496w,
            /img/counter/counter_a9yanf_c_scale,w_1539.jpg 1539w,
            /img/counter/counter_a9yanf_c_scale,w_1584.jpg 1584w,
            /img/counter/counter_a9yanf_c_scale,w_1632.jpg 1632w,
            /img/counter/counter_a9yanf_c_scale,w_1680.jpg 1680w,
            /img/counter/counter_a9yanf_c_scale,w_1723.jpg 1723w,
            /img/counter/counter_a9yanf_c_scale,w_1769.jpg 1769w,
            /img/counter/counter_a9yanf_c_scale,w_1812.jpg 1812w,
            /img/counter/counter_a9yanf_c_scale,w_1854.jpg 1854w,
            /img/counter/counter_a9yanf_c_scale,w_1899.jpg 1899w,
            /img/counter/counter_a9yanf_c_scale,w_1939.jpg 1939w,
            /img/counter/counter_a9yanf_c_scale,w_1981.jpg 1981w,
            /img/counter/counter_a9yanf_c_scale,w_2020.jpg 2020w,
            /img/counter/counter_a9yanf_c_scale,w_2059.jpg 2059w,
            /img/counter/counter_a9yanf_c_scale,w_2102.jpg 2102w,
            /img/counter/counter_a9yanf_c_scale,w_2144.jpg 2144w,
            /img/counter/counter_a9yanf_c_scale,w_2177.jpg 2177w"
        sizes="
        (min-width: 1200px) 1090px,
        (min-width: 992px) 910px,
        (min-width: 768px) 670px,
        (min-width: 576px) 490px,
        calc(100vw - 2 * 25px)"
        alt="coffee shop counter" class="img-fluid mb-3 d-print-none" />
    </picture>
    <div class="row">
        <div class="col-sm mb-3">
            <h2 class="h4">Opening hours</h2>
            <p>Sunday to Thursday:<br class="d-none d-md-inline d-lg-none"> 8am – 11pm</p>
            <p>Friday to Saturday:<br class="d-none d-md-inline d-lg-none"> 8am – 1am</p>
        </div>
        <div class="col-sm mb-3">
            <h2 class="h4">Book a table</h2>
            <p><a href="tel:+14153214567">Call +1 415-321-4567</a></p>
        </div>
        <div class="col-sm mb-3">
            <h2 class="h4">Address</h2>
            <p>321 Ivy St.<br>San Francisco, CA 94102</p>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9 mb-n4">
        <div class="embed-responsive-item" id="map"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function initMap() {
        var styledMapType = new google.maps.StyledMapType(
            [
                { elementType: 'geometry', stylers: [{ color: '#e6e6e6' }] },
                { elementType: 'labels.icon', stylers: [{ visibility: 'off' }] },
                { elementType: 'labels.text.fill', stylers: [{ color: '#616161' }] },
                { elementType: 'labels.text.stroke', stylers: [{ color: '#f5f5f5' }] },
                { featureType: 'administrative.land_parcel', elementType: 'labels.text.fill', stylers: [{ color: '#bdbdbd' }] },
                { featureType: 'poi', elementType: 'geometry', stylers: [{ color: '#eeeeee' }] },
                { featureType: 'poi', elementType: 'labels.text.fill', stylers: [{ color: '#757575' }] },
                { featureType: 'poi.business', stylers: [{ visibility: 'off' }] },
                { featureType: 'poi.park', elementType: 'geometry', stylers: [{ color: '#e5e5e5' }] },
                { featureType: 'poi.park', elementType: 'labels.text', stylers: [{ visibility: 'off' }] },
                { featureType: 'poi.park', elementType: 'labels.text.fill', stylers: [{ color: '#9e9e9e' }] },
                { featureType: 'road', elementType: 'geometry', stylers: [{ color: '#ffffff' }] },
                { featureType: 'road.arterial', elementType: 'labels.text.fill', stylers: [{ color: '#757575' }] },
                { featureType: 'road.highway', elementType: 'geometry', stylers: [{ color: '#dadada' }] },
                { featureType: 'road.highway', elementType: 'labels.text.fill', stylers: [{ color: '#616161' }] },
                { featureType: 'road.local', elementType: 'labels.text.fill', stylers: [{ color: '#9e9e9e' }] },
                { featureType: 'transit.line', elementType: 'geometry', stylers: [{ color: '#e6e6e6' }] },
                { featureType: 'transit.station', elementType: 'geometry', stylers: [{ color: '#eeeeee' }] },
                { featureType: 'water', elementType: 'geometry', stylers: [{ color: '#c9c9c9' }] },
                { featureType: 'water', elementType: 'labels.text.fill', stylers: [{ color: '#9e9e9e' }] },
            ],
            { name: 'Styled Map' },
        );
        var ivySt = { lat: 37.777298, lng: -122.423454 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: ivySt,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: true,
        });
        var marker = new google.maps.Marker({ position: ivySt, map: map });
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
    }
    </script>
    <script
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd1MDV7YL_ruIZgSTk_buouK8KiPXVuVA&callback=initMap">
    </script>
{% endblock %}
