{% extends '_base.twig' %}


{% block title %}Menu{% endblock %}

{% block content %}
    <h1>Menu</h1>
    <div class="row">
        <div class="col-sm">
            <h2>Espresso coffee</h2>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Espresso</span> <span>3.8</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Double espresso</span> <span>4.9</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Americano</span> <span>5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Espresso macchiato</span> <span>4.3</span></></li>
                <li><div class="d-flex justify-content-between"><span>Flat White</span> <span>5.9</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Latte</span> <span>5.9</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Extra shot</span> <span>1.1</span></div></li>
            </ul>
            <h2>Filter coffee</h2>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>House Drip coffee</span> <span>4.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Aeropress</span> <span>5.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>V60</span> <span>6.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Kalita</span> <span>12</span></div></li>
            </ul>
            <h2>Coffee Specialities</h2>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Cascara</span> <span>4.9</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Irish coffee</span> <span>10.9</span></div></li>
            </ul>
        </div>
        <div class="col-sm">
            <h2>Iced</h2>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Iced Latte</span> <span>6.9</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Espresso on the rock</span> <span>4.9</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Iced Cascara</span> <span>5.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Affogato</span> <span>5.9<span></div></li>
                <li><div class="d-flex justify-content-between"><span>Iced Flat white</span> <span>5.9</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Iced Filter</span> <span>5.8</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Iced tea</span> <span>4.9</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Iced chocolate</span> <span> 6.2</span></div></li>
            </ul>
            <h2>Hot</h2>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Tea</span> <span>4.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Ginger tea</span> <span>4.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Hot chocolate</span> <span>4.5</span></div></li>
            </ul>
        </div>
    </div>
    <h2>Non-alcoholic Beverages</h2>
    <div class="row">
        <div class="col-sm">
            <h3>Lemonades</h3>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Fresh Squeezed Lemonade</span> <span>5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Ginger Lemonade</span> <span>4.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Cascara Fizz Original</span> <span>5.8</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Club-mate Cola</span> <span>4.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Tonic Thomas Henry</span> <span>4.3</span></div></li>
            </ul>
        </div>
        <div class="col-sm">
            <h3>Water</h3>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Sparkling</span> <span>2.4</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Still</span> <span>2.4</span></div></li>
            </ul>
        </div>
    </div>
    <h2>Alcoholic Beverages</h2>
    <div class="row">
        <div class="col-sm">
            <h3>Beer</h3>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Small breweries on tap</span> <span>3.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Birell (bottled)</span> <span>3.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Cider Magnetic Apple</span> <span>4.5</span></div></li>
            </ul>
            <h3>White Wine</h3>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Chardonnay Les Vignes de L'Arque, France</span> <span>3.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Sauvignon Blanc, Château Le Sartre</span> <span>3.8</span></div></li>
            </ul>
            <h3>Red Wine</h3>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Cuvée Côtes du Rhône Vigneros de Caracterem</span> <span>3.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Cabernet Sauvignon, Château Tour du Roch-Milon 2011</span> <span>3.5</span></div></li>
            </ul>
            <h3>Cocktails</h3>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Gin Tonic</span> <span>9</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Cuba Libre</span> <span>9.9</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Mojito</span> <span>9.9</span></div></li>
            </ul>
        </div>
        <div class="col-sm">
            <h3>Spirits</h3>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Metaxa 12*</span> <span>7.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Tullamore Dew</span> <span>6.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Jameson Whiskey</span> <span>6.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Bombay, Añejo Suave</span> <span> 6.8</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Ron Cubay, Añejo Suave</span> <span> 6.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Tequila, El Jimador, Reposado</span> <span>6.2</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Vodka Finlandia</span> <span>5.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Bailey's</span> <span>5.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Jagermeister</span> <span>5.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Graham's Tawny Porto</span></div></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Something to Eat</h2>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Soup of the day</span> <span>5.8</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Chipotle Citrus Chicken Sandwich</span> <span>5.4</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Avocado Toast</span> <span>5.6</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Super BLT Sandwich</span> <span>12.8</span></div></li>
            </ul>
        </div>
        <div class="col-sm">
            <h2>Sweets</h2>
            <ul class="list-unstyled">
                <li><div class="d-flex justify-content-between"><span>Homemade cakes of the day</span> <span>5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Key Lime and Coconut</span> <span>1.5</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Ice cream</span> <span>2</span></div></li>
                <li><div class="d-flex justify-content-between"><span>Tiramisu</span> <span>6</span></div></li>
            </ul>
        </div>
    </div>
    <img src="img/espresso-machine-detail.jpg" alt="close-up of coffee pouring from portafilter " class="img-fluid"/>
{% endblock %}
