{% extends '_base.twig' %}


{% block title %}Menu{% endblock %}

{% block content %}
    <h1 class="mb-4">Menu</h1>
    <section >
        <h2 class="sr-only">Coffee, Tea, Drinking Chocolate: hot or iced</h2>
        <div class="row">
            <div class="col-sm">
                <h3 class="h2">Espresso coffee</h3>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between mb-2"><span>Espresso</span> <span>3.8</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Double espresso</span> <span>4.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Americano</span> <span>5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Espresso macchiato</span> <span>4.3</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Flat White</span> <span>5.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Latte</span> <span>5.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Extra shot</span> <span>1.1</span></li>
                </ul>
                <h3 class="h2">Filter coffee</h3>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between mb-2"><span>House Drip coffee</span> <span>4.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Aeropress</span> <span>5.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>V60</span> <span>6.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Kalita</span> <span>12</span></li>
                </ul>
                <h3 class="h2">Coffee Specialities</h3>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between mb-2"><span>Cascara</span> <span>4.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Irish coffee</span> <span>10.9</span></li>
                </ul>
            </div>
            <div class="col-sm">
                <h3 class="h2">Iced</h3>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between mb-2"><span>Iced Latte</span> <span>6.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Espresso on the rock</span> <span>4.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Iced Cascara</span> <span>5.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Affogato</span> <span>5.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Iced Flat white</span> <span>5.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Iced Filter</span> <span>5.8</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Iced tea</span> <span>4.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Iced chocolate</span> <span> 6.2</span></li>
                </ul>
                <h3 class="h2">Hot</h3>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between mb-2"><span>Tea</span> <span>4.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Ginger tea</span> <span>4.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Hot chocolate</span> <span>4.5</span></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <h2 class="mb-3">Non-alcoholic Beverages</h2>
        <div class="row">
            <div class="col-sm">
                <h3 class="mb-3">Lemonades</h3>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between mb-2"><span>Fresh Squeezed Lemonade</span> <span>5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Ginger Lemonade</span> <span>4.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Cascara Fizz Original</span> <span>5.8</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Club-mate Cola</span> <span>4.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Tonic Thomas Henry</span> <span>4.3</span></li>
                </ul>
            </div>
            <div class="col-sm">
                <h3 class="mb-3">Water</h3>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between mb-2"><span>Sparkling</span> <span>2.4</span></li>
                    <li class="d-flex justify-content-between mb-2"><span>Still</span> <span>2.4</span></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <h2 class="mb-3">Alcoholic Beverages</h2>
            <div class="row">
                <div class="col-sm">
                    <h3 class="mb-3">Beer</h3>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between mb-2"><span>Small breweries on tap</span> <span>3.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Birell (bottled)</span> <span>3.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Cider Magnetic Apple</span> <span>4.5</span></li>
                    </ul>
                    <h3 class="mb-3">White Wine</h3>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between mb-2"><span>Chardonnay Les Vignes de L'Arque, France</span> <span>3.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Sauvignon Blanc, Château Le Sartre</span> <span>3.8</span></li>
                    </ul>
                    <h3 class="mb-3">Red Wine</h3>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between mb-2"><span>Cuvée Côtes du Rhône Vigneros de Caracterem</span> <span>3.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Cabernet Sauvignon, Château Tour du Roch-Milon 2011</span> <span>3.5</span></li>
                    </ul>
                    <h3 class="mb-3">Cocktails</h3>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between mb-2"><span>Gin Tonic</span> <span>9</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Cuba Libre</span> <span>9.9</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Mojito</span> <span>9.9</span></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h3 class="mb-3">Spirits</h3>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between mb-2"><span>Metaxa 12*</span> <span>7.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Tullamore Dew</span> <span>6.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Jameson Whiskey</span> <span>6.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Bombay, Añejo Suave</span> <span> 6.8</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Ron Cubay, Añejo Suave</span> <span> 6.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Tequila, El Jimador, Reposado</span> <span>6.2</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Vodka Finlandia</span> <span>5.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Bailey's</span> <span>5.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Jagermeister</span> <span>5.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Graham's Tawny Porto</span>4.7</li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <h2 class="sr-only">Food</h2>
            <div class="row">
                <div class="col-sm">
                    <h3 class="h2">Something to Eat</h3>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between mb-2"><span>Soup of the day</span> <span>5.8</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Chipotle Citrus Chicken Sandwich</span> <span>5.4</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Avocado Toast</span> <span>5.6</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Super BLT Sandwich</span> <span>12.8</span></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h3 class="h2">Sweets</h3>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between mb-2"><span>Homemade cakes of the day</span> <span>5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Key Lime and Coconut</span> <span>1.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Ice cream</span> <span>2</span></li>
                        <li class="d-flex justify-content-between mb-2"><span>Tiramisu</span> <span>6</span></li>
                    </ul>
                </div>
            </div>
        </section>
    <img src="/img/espresso-machine-detail.jpg" alt="close-up of coffee pouring from portafilter " class="img-fluid"/>
{% endblock %}
