{% extends '_base.twig' %}

{% block page_description %}Current menu for spring 2020{% endblock %}

{% block title %}Menu{% endblock %}

{% block link_menu %}active{% endblock %}

{% block content %}
    <h1 class="mb-3">Menu</h1>
    <section >
        <h2 class="sr-only">Coffee, Tea, Drinking Chocolate: hot or iced</h2>
        <div class="row">
            <div class="col-md">
                <h3 class="h2">Espresso coffee</h3>
                <ul class="list-unstyled mb-5 mr-sm-5">
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Espresso</span> <span>3.8</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Double espresso</span> <span>4.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Americano</span> <span>5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Espresso macchiato</span> <span>4.3</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Flat White</span> <span>5.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Latte</span> <span>5.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Extra shot</span> <span>1.1</span></li>
                </ul>
                <h3 class="h2">Filter coffee</h3>
                <ul class="list-unstyled mb-5 mr-sm-5">
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">House Drip coffee</span> <span>4.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Aeropress</span> <span>5.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">V60</span> <span>6.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Kalita</span> <span>12</span></li>
                </ul>
                <h3 class="h2">Coffee Specialities</h3>
                <ul class="list-unstyled mb-5 mr-sm-5">
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Cascara</span> <span>4.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Irish coffee</span> <span>10.9</span></li>
                </ul>
            </div>
            <div class="col-md">
                <h3 class="h2">Iced</h3>
                <ul class="list-unstyled mb-5 mr-sm-5">
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Iced Latte</span> <span>6.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Espresso on the rock</span> <span>4.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Iced Cascara</span> <span>5.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Affogato</span> <span>5.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Iced Flat white</span> <span>5.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Iced Filter</span> <span>5.8</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Iced tea</span> <span>4.9</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Iced chocolate</span> <span> 6.2</span></li>
                </ul>
                <h3 class="h2">Hot</h3>
                <ul class="list-unstyled mb-5 mr-sm-5">
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Tea</span> <span>4.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Ginger tea</span> <span>4.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Hot chocolate</span> <span>4.5</span></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <h2 class="mb-3">Non-alcoholic Beverages</h2>
        <div class="row">
            <div class="col-md">
                <h3 class="mb-3">Lemonades</h3>
                <ul class="list-unstyled mb-5 mr-sm-5">
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Fresh Squeezed Lemonade</span> <span>5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Ginger Lemonade</span> <span>4.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Cascara Fizz Original</span> <span>5.8</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Club-mate Cola</span> <span>4.5</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Tonic Thomas Henry</span> <span>4.3</span></li>
                </ul>
            </div>
            <div class="col-md">
                <h3 class="mb-3">Water</h3>
                <ul class="list-unstyled mb-5 mr-sm-5">
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Sparkling</span> <span>2.4</span></li>
                    <li class="d-flex justify-content-between mb-2"><span class="mr-2">Still</span> <span>2.4</span></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <h2 class="mb-3">Alcoholic Beverages</h2>
            <div class="row">
                <div class="col-md">
                    <h3 class="mb-3">Beer</h3>
                    <ul class="list-unstyled mb-5 mr-sm-5">
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Small breweries on tap</span> <span>3.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Birell (bottled)</span> <span>3.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Cider Magnetic Apple</span> <span>4.5</span></li>
                    </ul>
                    <h3 class="mb-3">White Wine</h3>
                    <ul class="list-unstyled mb-5 mr-sm-5">
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Chardonnay Les Vignes de L'Arque, France</span> <span>3.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Sauvignon Blanc, Château Le Sartre</span> <span>3.8</span></li>
                    </ul>
                    <h3 class="mb-3">Red Wine</h3>
                    <ul class="list-unstyled mb-5 mr-sm-5">
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Cuvée Côtes du Rhône Vigneros de Caracterem</span> <span>3.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Cabernet Sauvignon, Château Tour du Roch-Milon 2011</span> <span>3.5</span></li>
                    </ul>
                    <h3 class="mb-3">Cocktails</h3>
                    <ul class="list-unstyled mb-5 mr-sm-5">
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Gin Tonic</span> <span>9</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Cuba Libre</span> <span>9.9</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Mojito</span> <span>9.9</span></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h3 class="mb-3">Spirits</h3>
                    <ul class="list-unstyled mb-5 mr-sm-5">
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Metaxa 12*</span> <span>7.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Tullamore Dew</span> <span>6.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Jameson Whiskey</span> <span>6.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Bombay, Añejo Suave</span> <span> 6.8</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Ron Cubay, Añejo Suave</span> <span> 6.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Tequila, El Jimador, Reposado</span> <span>6.2</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Vodka Finlandia</span> <span>5.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Bailey's</span> <span>5.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Jagermeister</span> <span>5.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Graham's Tawny Porto</span>4.7</li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <h2 class="sr-only">Food</h2>
            <div class="row">
                <div class="col-md">
                    <h3 class="h2">Something to Eat</h3>
                    <ul class="list-unstyled mb-5 mr-sm-5">
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Soup of the day</span> <span>5.8</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Chipotle Citrus Chicken Sandwich</span> <span>5.4</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Avocado Toast</span> <span>5.6</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Super BLT Sandwich</span> <span>12.8</span></li>
                    </ul>
                </div>
                <div class="col-md">
                    <h3 class="h2">Sweets</h3>
                    <ul class="list-unstyled mb-5 mr-sm-5">
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Homemade cakes of the day</span> <span>5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Key Lime and Coconut</span> <span>1.5</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Ice cream</span> <span>2</span></li>
                        <li class="d-flex justify-content-between mb-2"><span class="mr-2">Tiramisu</span> <span>6</span></li>
                    </ul>
                </div>
            </div>
        </section>
    <img src="/img/espresso-machine-detail.jpg" alt="close-up of coffee pouring from portafilter " class="img-fluid mb-n4 d-print-none"/>
{% endblock %}
