{% extends '_base.twig' %}

{% block page_description %}How the founders' penchant for great tasting coffee fuelled their vision of a
cafe in the heart of local community, where speciality coffees are savoured in a relaxed atmosphere.
{% endblock %}

{% block title %}Our Story{% endblock %}

{% block link_our_story %}active{% endblock %}

{% block content %}
    <h1>Our Story</h1>
    <p class="lead">
        GHC started as a project of two friends and passionate baristas, John &#38; Don in 2010. Believing as
        much in the hand of an educated barista as in the innovative equipment of our ever-growing industry,
        GHC offers a full spectrum of brewing opportunities—from pour overs to syphon pots to finely executed
        espresso beverages. Each cup of coffee is made with love, precision and care.
    </p>
    <img src="/img/espresso-machine/espresso-machine_xmfpms_c_scale,w_1194.jpg"
        srcset="
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_445.jpg 445w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_633.jpg 633w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_793.jpg 793w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_925.jpg 925w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_1068.jpg 1068w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_1194.jpg 1194w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_1309.jpg 1309w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_1418.jpg 1418w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_1518.jpg 1518w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_1611.jpg 1611w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_1704.jpg 1704w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_1801.jpg 1801w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_1886.jpg 1886w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_1965.jpg 1965w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_2046.jpg 2046w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_2125.jpg 2125w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_2178.jpg 2178w,
        /img/espresso-machine/espresso-machine_xmfpms_c_scale,w_2180.jpg 2180w"
        sizes="
        (min-width: 1200px) 1090px,
        (min-width: 992px) 910px,
        (min-width: 768px) 670px,
        (min-width: 576px) 490px,
        calc(100vw - 2 * 25px)"
        alt="espresso machine close-up" class="img-fluid mb-n4 d-print-none">
{% endblock %}
