{% extends '_base.twig' %}


{% block title %}Our Story{% endblock %}


{% block content %}
    <h1>Our Story</h1>
    <img src="img/espresso-machine.jpg" alt="espresso machine close-up" class="img-fluid">
    <p>
        GHC started as a project of two friends and passionate baristas, John &#38; Don in 2010. Believing as
        much in the hand of an educated barista as in the innovative equipment of our ever-growing industry,
        GHC offers a full spectrum of brewing opportunities—from pour overs to syphon pots to finely executed
        espresso beverages. Each cup of coffee is made with love, precision and care.
    </p>
{% endblock %}
