<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="index.css" />
        <title>ghc</title>
    </head>
    <body>
        <nav>
            <img src="" alt="" />
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/coffee">Coffee</a></li>
                <li><a href="/our-story">Our Story</a></li>
            </ul>
        </nav>
        <main>
            <h1>Our Story</h1>
            <p>
                GHC started as a project of two friends and passionate baristas, John &#38; Don in 2010. Believing as
                much in the hand of an educated barista as in the innovative equipment of the our ever-growing industry,
                GHC offers a full spectrum of brewing opportunities – from pour overs to syphon pots to finely executed
                espresso beverages. Each cup of coffee is made with love, precision and care.
            </p>
        </main>
        <footer>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/coffee">Coffee</a></li>
                <li><a href="/our-story">Our Story</a></li>
            </ul>
            <span>#Hipstersmakecoffee</span>
            <p>Follow us on <a href="#">Twitter</a> and <a href="#">Instagram</a></p>
        </footer>
    </body>
</html>
