{% extends '_base.twig' %}

{% block page_description %}How the founders' penchant for great tasting coffee fuelled their vision of a
cafe in the heart of local community, where speciality coffees are savoured in a relaxed atmosphere.
{% endblock %}

{% block title %}Our Story{% endblock %}

{% block link_our_story %}active{% endblock %}

{% block content %}
    <h1>Our Story</h1>
    <p class="lead">
        GHC started as a project of two friends and passionate baristas, John &#38; Don in 2010. Believing as
        much in the hand of an educated barista as in the innovative equipment of our ever-growing industry,
        GHC offers a full spectrum of brewing opportunities—from pour overs to syphon pots to finely executed
        espresso beverages. Each cup of coffee is made with love, precision and care.
    </p>
    <img src="/img/espresso-machine/espresso-machine_lvketv_c_scale,w_498.jpg 498w"
        srcset="
        /img/espresso-machine/espresso-machine_lvketv_c_scale,w_606.jpg 606w,
        /img/espresso-machine/espresso-machine_lvketv_c_scale,w_714.jpg 714w,
        /img/espresso-machine/espresso-machine_lvketv_c_scale,w_817.jpg 817w,
        /img/espresso-machine/espresso-machine_lvketv_c_scale,w_921.jpg 921w,
        /img/espresso-machine/espresso-machine_lvketv_c_scale,w_1015.jpg 1015w,
        /img/espresso-machine/espresso-machine_lvketv_c_scale,w_1083.jpg 1083w,
        /img/espresso-machine/espresso-machine_lvketv_c_scale,w_1090.jpg 1090w"
        sizes="
        (min-width: 1200px) 1090px,
        (min-width: 992px) 910px,
        (min-width: 768px) 670px,
        (min-width: 576px) 490px,
        calc(100vw - 2 * 25px)"
        alt="espresso machine close-up" class="img-fluid mb-n4 d-print-none">
{% endblock %}
