{% extends '_base.twig' %}

{% block page_description %}How the founders' penchant for great tasting coffee fuelled their vision of a
cafe in the heart of local community, where speciality coffees are savoured in a relaxed atmosphere.
{% endblock %}

{% block title %}Our Story{% endblock %}

{% block link_our_story %}active{% endblock %}

{% block content %}
    <h1>Our Story</h1>
    <p class="lead">
        GHC started as a project of two friends and passionate baristas, John &#38; Don in 2010. Believing as
        much in the hand of an educated barista as in the innovative equipment of our ever-growing industry,
        GHC offers a full spectrum of brewing opportunities—from pour overs to syphon pots to finely executed
        espresso beverages. Each cup of coffee is made with love, precision and care.
    </p>
    <img src="./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_1109.jpg"
        srcset="
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_310.jpg 310w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_520.jpg 520w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_693.jpg 693w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_847.jpg 847w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_985.jpg 985w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_1231.jpg 1231w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_1334.jpg 1334w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_1445.jpg 1445w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_1545.jpg 1545w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_1639.jpg 1639w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_1725.jpg 1725w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_1813.jpg 1813w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_1899.jpg 1899w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_1980.jpg 1980w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_2053.jpg 2053w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_2127.jpg 2127w,
        ./img/espresso-machine/espresso-machine_wss2gm_c_scale,w_2178.jpg 2178w"
        sizes="
        (min-width: 1200px) 1090px,
        (min-width: 992px) 910px,
        (min-width: 768px) 670px,
        (min-width: 576px) 490px,
        calc(100vw - 2 * 25px)"
        alt="espresso machine close-up" class="img-fluid mb-n4 d-print-none">
{% endblock %}
