{% extends '_base.twig' %}

{% block page_description %}How the founders' penchant for great tasting coffee fuelled their vision of a
cafe in the heart of local community, where speciality coffees are savoured in a relaxed atmosphere.
{% endblock %}

{% block title %}Our Story{% endblock %}

{% block link_our_story %}active{% endblock %}

{% block content %}
    <h1>Our Story</h1>
    <p class="lead">
        GHC started as a project of two friends and passionate baristas, John &#38; Don in 2010. Believing as
        much in the hand of an educated barista as in the innovative equipment of our ever-growing industry,
        GHC offers a full spectrum of brewing opportunities—from pour overs to syphon pots to finely executed
        espresso beverages. Each cup of coffee is made with love, precision and care.
    </p>
    <img src="/img/espresso-machine_jya3mn_c_scale,w_443.jpg"
        srcset="
        /img/espresso-machine_jya3mn_c_scale,w_633.jpg 633w,
        /img/espresso-machine_jya3mn_c_scale,w_795.jpg 795w,
        /img/espresso-machine_jya3mn_c_scale,w_1070.jpg 1070w,
        /img/espresso-machine_jya3mn_c_scale,w_1770.jpg 1770w"
        sizes="
        (min-width: 1200px) 1770px,
        (min-width: 992px) 1070px,
        (min-width: 768px) 795px,
        (min-width: 576px) 633px,
        calc(100vw - 2 * 25px)"
        alt="espresso machine close-up" class="img-fluid mb-n4 d-print-none">
{% endblock %}
