{% extends '_base.twig' %}

{% block page_description %}How the founders' penchant for great tasting coffee fuelled their vision of a
cafe in the heart of local community, where speciality coffees are savoured in a relaxed atmosphere.
{% endblock %}

{% block title %}Our Story{% endblock %}

{% block link_our_story %}active{% endblock %}

{% block content %}
    <h1>Our Story</h1>
    <p class="lead">
        GHC started as a project of two friends and passionate baristas, John &#38; Don in 2010. Believing as
        much in the hand of an educated barista as in the innovative equipment of our ever-growing industry,
        GHC offers a full spectrum of brewing opportunities—from pour overs to syphon pots to finely executed
        espresso beverages. Each cup of coffee is made with love, precision and care.
    </p>
    <img src="/img/espresso-machine_v89s2i_c_scale,w_320.jpg 320w"
        srcset="
       /img/espresso-machine_v89s2i_c_scale,w_547.jpg 547w,
       /img/espresso-machine_v89s2i_c_scale,w_730.jpg 730w,
       /img/espresso-machine_v89s2i_c_scale,w_887.jpg 887w,
       /img/espresso-machine_v89s2i_c_scale,w_1030.jpg 1030w,
       /img/espresso-machine_v89s2i_c_scale,w_1161.jpg 1161w,
       /img/espresso-machine_v89s2i_c_scale,w_1283.jpg 1283w,
       /img/espresso-machine_v89s2i_c_scale,w_1396.jpg 1396w,
       /img/espresso-machine_v89s2i_c_scale,w_1510.jpg 1510w,
       /img/espresso-machine_v89s2i_c_scale,w_1597.jpg 1597w,
       /img/espresso-machine_v89s2i_c_scale,w_1689.jpg 1689w,
       /img/espresso-machine_v89s2i_c_scale,w_1776.jpg 1776w,
       /img/espresso-machine_v89s2i_c_scale,w_1873.jpg 1873w,
       /img/espresso-machine_v89s2i_c_scale,w_1951.jpg 1951w,
       /img/espresso-machine_v89s2i_c_scale,w_2024.jpg 2024w,
       /img/espresso-machine_v89s2i_c_scale,w_2096.jpg 2096w,
       /img/espresso-machine_v89s2i_c_scale,w_2166.jpg 2166w,
       /img/espresso-machine_v89s2i_c_scale,w_2179.jpg 2179w,
       /img/espresso-machine_v89s2i_c_scale,w_2180.jpg 2180w"

        sizes="
        (min-width: 1200px) 1770px,
        (min-width: 992px) 1070px,
        (min-width: 768px) 795px,
        (min-width: 576px) 633px,
        calc(100vw - 2 * 25px)"
        alt="espresso machine close-up" class="img-fluid mb-n4 d-print-none">
{% endblock %}
