/* .footer-title {
    color: #ced4da;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}
 */
.line-height-a {
    line-height: 28px;
}

.ghc-letter-spacing {
    letter-spacing: 0.07em;
}

.ghc-grey {
    color: #ced4da;
}
