/* main.container {
    background-image: url("/img/screenshot-menu.png");
    background-position-x: -50px;
    background-position-y: -40px;
    background-repeat: no-repeat;
}
 */
/* main.container {
    background-image: url("/img/coffee.png");
    background-position-x: -48.1px;
    background-position-y: -40px;
    background-repeat: no-repeat;
}
 */
/* main.container {
    background-image: url("/img/screenshot-menu.png");
    background-position-x: -50px;
    background-position-y: -40px;
    background-repeat: no-repeat;
}
 */

/* main.container > * {
    mix-blend-mode: multiply;
} */
/* main {
    color: darkgoldenrod;
}
 */

nav {
    background-image: url("/img/screenshot-navbar.png");
    background-position-x: 503px;
    background-repeat: no-repeat;
}

footer {
    background-image: url("/img/footer.png");
    background-position-x: 355px;
    background-position-y: 9.2px;
    background-repeat: no-repeat;
}

footer > * {
    mix-blend-mode: multiply;
}

