h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.ghc-nav-link:hover {
    color: $white;
    text-decoration: none;
}

.nav-link.active {
    color: $white;
    text-decoration: none;
}
