h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

h1, .h1, h2, .h2 {
    line-height: 1.5;
}
.all {
    background-image: url("/img/screenshot-menu.png");
    background-position-x: -50px;
    background-position-y: -46.4px;
    background-repeat: no-repeat;
  }

  .all > *{
    mix-blend-mode: multiply;
  }
